node-red-flows/esp32-dashboard.json
[
    {
        "id": "main-flow",
        "type": "tab",
        "label": "ESP32 IoT Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Public Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "node-red-dashboard",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "ESP32 IoT Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_sensors",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_controls",
        "type": "ui_group",
        "name": "Control LEDs",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_rfid",
        "type": "ui_group",
        "name": "RFID Events",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_status",
        "type": "ui_group",
        "name": "System Status",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "mqtt-temp-in",
        "type": "mqtt in",
        "z": "main-flow",
        "name": "Temperature Data",
        "topic": "esp32/hardware/data",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "x": 150,
        "y": 100,
        "wires": [["parse-temp-data"]]
    },
    {
        "id": "parse-temp-data",
        "type": "function",
        "z": "main-flow", 
        "name": "Parse Temperature",
        "func": "// Parse temperature and humidity data\nvar data = msg.payload;\nif (data.temp !== undefined) {\n    // Send temperature to gauge\n    msg.payload = data.temp;\n    msg.topic = 'temperature';\n    node.send([msg, null]);\n    \n    // Send humidity to gauge \n    var humMsg = {\n        payload: data.hum || 0,\n        topic: 'humidity'\n    };\n    node.send([null, humMsg]);\n    \n    // Store in context for API calls\n    context.set('lastTemp', data.temp);\n    context.set('lastHum', data.hum || 0);\n    context.set('lastTempTime', new Date().toISOString());\n}\nreturn null;",
        "outputs": 2,
        "x": 350,
        "y": 100,
        "wires": [["temp-gauge"], ["hum-gauge"]]
    },
    {
        "id": "temp-gauge",
        "type": "ui_gauge",
        "z": "main-flow",
        "name": "Temperature",
        "group": "ui_group_sensors",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 20,
        "seg2": 35,
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "hum-gauge", 
        "type": "ui_gauge",
        "z": "main-flow",
        "name": "Humidity",
        "group": "ui_group_sensors",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": 30,
        "seg2": 70,
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "mqtt-rfid-in",
        "type": "mqtt in",
        "z": "main-flow",
        "name": "RFID Events",
        "topic": "esp32/rfid/events",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "x": 150,
        "y": 200,
        "wires": [["parse-rfid-data"]]
    },
    {
        "id": "parse-rfid-data",
        "type": "function",
        "z": "main-flow",
        "name": "Parse RFID",
        "func": "// Parse RFID scan data\nvar data = msg.payload;\nif (data.uid && data.count) {\n    var displayText = 'UID: ' + data.uid + ' (Scan #' + data.count + ')';\n    msg.payload = displayText;\n    \n    // Store latest RFID in context\n    context.set('lastRFID', {\n        uid: data.uid,\n        count: data.count,\n        timestamp: new Date().toISOString()\n    });\n}\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 200,
        "wires": [["rfid-text"]]
    },
    {
        "id": "rfid-text",
        "type": "ui_text",
        "z": "main-flow",
        "group": "ui_group_rfid",
        "order": 1,
        "width": 6,
        "height": 2,
        "name": "Last RFID Scan",
        "label": "Last RFID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "led1-switch",
        "type": "ui_switch",
        "z": "main-flow",
        "name": "LED 1 Control",
        "label": "LED 1",
        "tooltip": "",
        "group": "ui_group_controls",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "led1",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 300,
        "wires": [["led1-command"]]
    },
    {
        "id": "led1-command",
        "type": "function",
        "z": "main-flow",
        "name": "LED 1 Command",
        "func": "// Send LED command via MQTT\nvar command = {\n    from: 'node-red-dashboard',\n    to: 'esp32-actuator-01',\n    command: msg.payload ? 'LED_ON' : 'LED_OFF',\n    led_id: 1\n};\n\nmsg.payload = JSON.stringify(command);\nmsg.topic = 'esp32/commands';\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 300,
        "wires": [["mqtt-cmd-out"]]
    },
    {
        "id": "led2-switch",
        "type": "ui_switch",
        "z": "main-flow",
        "name": "LED 2 Control",
        "label": "LED 2",
        "tooltip": "",
        "group": "ui_group_controls",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "led2",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 340,
        "wires": [["led2-command"]]
    },
    {
        "id": "led2-command",
        "type": "function",
        "z": "main-flow",
        "name": "LED 2 Command",
        "func": "// Send LED command via MQTT\nvar command = {\n    from: 'node-red-dashboard',\n    to: 'esp32-actuator-01',\n    command: msg.payload ? 'LED_ON' : 'LED_OFF',\n    led_id: 2\n};\n\nmsg.payload = JSON.stringify(command);\nmsg.topic = 'esp32/commands';\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 340,
        "wires": [["mqtt-cmd-out"]]
    },
    {
        "id": "led3-switch",
        "type": "ui_switch",
        "z": "main-flow",
        "name": "LED 3 Control",
        "label": "LED 3",
        "tooltip": "",
        "group": "ui_group_controls",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "led3",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 380,
        "wires": [["led3-command"]]
    },
    {
        "id": "led3-command",
        "type": "function",
        "z": "main-flow",
        "name": "LED 3 Command",
        "func": "// Send LED command via MQTT\nvar command = {\n    from: 'node-red-dashboard',\n    to: 'esp32-actuator-01',\n    command: msg.payload ? 'LED_ON' : 'LED_OFF',\n    led_id: 3\n};\n\nmsg.payload = JSON.stringify(command);\nmsg.topic = 'esp32/commands';\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 380,
        "wires": [["mqtt-cmd-out"]]
    },
    {
        "id": "buzzer-button",
        "type": "ui_button",
        "z": "main-flow",
        "name": "Buzzer",
        "group": "ui_group_controls",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "🔊 Buzzer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 150,
        "y": 420,
        "wires": [["buzzer-command"]]
    },
    {
        "id": "buzzer-command",
        "type": "function",
        "z": "main-flow",
        "name": "Buzzer Command",
        "func": "// Send buzzer command via MQTT\nvar command = {\n    from: 'node-red-dashboard',\n    to: 'esp32-actuator-01',\n    command: 'BUZZER',\n    duration: 1000\n};\n\nmsg.payload = JSON.stringify(command);\nmsg.topic = 'esp32/commands';\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 420,
        "wires": [["mqtt-cmd-out"]]
    },
    {
        "id": "mqtt-cmd-out",
        "type": "mqtt out",
        "z": "main-flow",
        "name": "Send Commands",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "mqtt-broker",
        "x": 550,
        "y": 350,
        "wires": []
    },
    {
        "id": "api-status-timer",
        "type": "inject",
        "z": "main-flow",
        "name": "Status Timer",
        "props": [{"p":"payload"},{"p":"topic","vt":"str"}],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [["get-api-status"]]
    },
    {
        "id": "get-api-status",
        "type": "http request",
        "z": "main-flow",
        "name": "Get Rust API Status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8123/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 500,
        "wires": [["parse-api-status"]]
    },
    {
        "id": "parse-api-status",
        "type": "function",
        "z": "main-flow",
        "name": "Parse API Status",
        "func": "// Parse status from Rust API\nvar status = msg.payload;\nvar statusText = '';\n\nif (status.wifi_connected) {\n    statusText += '📶 WiFi: Connected (' + status.ssid + ')\\n';\n} else {\n    statusText += '📶 WiFi: Disconnected\\n';\n}\n\nstatusText += '🌡️ Temp: ' + status.temperature.toFixed(1) + '°C\\n';\nstatusText += '💧 Humidity: ' + status.humidity.toFixed(1) + '%\\n';\nstatusText += '🕒 Updated: ' + new Date().toLocaleTimeString();\n\nmsg.payload = statusText;\nreturn msg;",
        "outputs": 1,
        "x": 550,
        "y": 500,
        "wires": [["status-text"]]
    },
    {
        "id": "status-text",
        "type": "ui_text",
        "z": "main-flow",
        "group": "ui_group_status",
        "order": 1,
        "width": 6,
        "height": 3,
        "name": "System Status",
        "label": "System Status:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "get-temp-history",
        "type": "ui_button",
        "z": "main-flow",
        "name": "Get Temperature History",
        "group": "ui_group_sensors",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "📊 Get Temp History",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 600,
        "wires": [["fetch-temp-logs"]]
    },
    {
        "id": "fetch-temp-logs",
        "type": "http request",
        "z": "main-flow",
        "name": "Fetch Temperature Logs",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8123/api/sensor_logs/esp32-sensor-01",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 600,
        "wires": [["parse-temp-logs"]]
    },
    {
        "id": "parse-temp-logs",
        "type": "function",
        "z": "main-flow",
        "name": "Parse Temperature Logs",
        "func": "// Parse temperature logs for chart\nvar logs = msg.payload.logs || [];\nvar chartData = [];\n\nfor (var i = 0; i < logs.length; i++) {\n    var log = logs[i];\n    chartData.push({\n        x: new Date(log.timestamp).getTime(),\n        y: log.temperature || 0\n    });\n}\n\n// Sort by timestamp\nchartData.sort(function(a, b) { return a.x - b.x; });\n\nmsg.payload = [{\n    series: ['Temperature'],\n    data: [chartData],\n    labels: ['']\n}];\n\nreturn msg;",
        "outputs": 1,
        "x": 580,
        "y": 600,
        "wires": [["temp-chart"]]
    },
    {
        "id": "temp-chart",
        "type": "ui_chart",
        "z": "main-flow",
        "name": "Temperature History",
        "group": "ui_group_sensors",
        "order": 4,
        "width": 12,
        "height": 6,
        "label": "Temperature History",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "outputs": 1,
        "x": 780,
        "y": 600,
        "wires": [[]]
    },
    {
        "id": "mqtt-button-events",
        "type": "mqtt in",
        "z": "main-flow",
        "name": "Button Events",
        "topic": "esp32/button/events",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "x": 150,
        "y": 700,
        "wires": [["parse-button-events"]]
    },
    {
        "id": "parse-button-events",
        "type": "function",
        "z": "main-flow",
        "name": "Parse Button Events",
        "func": "// Parse button events\nvar data = msg.payload;\nvar eventText = '';\n\nif (data.device && data.button_id) {\n    eventText = data.device + ' Button ' + data.button_id + ' pressed';\n    \n    // Create notification\n    var notification = {\n        payload: {\n            title: 'Button Pressed!',\n            message: eventText,\n            time: new Date().toLocaleTimeString()\n        }\n    };\n    \n    node.send([{payload: eventText}, notification]);\n}\n\nreturn null;",
        "outputs": 2,
        "x": 350,
        "y": 700,
        "wires": [["button-events-text"], ["button-notification"]]
    },
    {
        "id": "button-events-text",
        "type": "ui_text",
        "z": "main-flow",
        "group": "ui_group_status",
        "order": 2,
        "width": 6,
        "height": 2,
        "name": "Button Events",
        "label": "Last Button:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 680,
        "wires": []
    },
    {
        "id": "button-notification",
        "type": "ui_toast",
        "z": "main-flow",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Button Notification",
        "x": 580,
        "y": 720,
        "wires": []
    }
]